
.header {
    padding: 6rem 6rem;
    background-image: url('../../../assets/mountains-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h3 {
    font-size: 28px;
    color: white;
    min-width: 400px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header .moon-icon {
    color: white;
    font-size: 22px;
    transform: rotate(-20deg);
    opacity: .8;
}