.task {
    background-color: #f4F4F4;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 1px;
    border-radius: 5px;
}

.task.taskReminder {
    border-left: 5px solid green;
}

.task > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
}

.task > div > h3 {
    font-weight: 600;
    color: #222;
    font-size: 18px;
}

.task > p {
    font-weight: 500;
    color: rgb(150, 150, 150);
    font-size: 12px;
}

.task > div > .delete-icon {
    color: red
}

.task > div > .delete-icon:hover {
    color: rgb(201, 0, 0)
}