.tasks {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 350px;
    /* border-radius: 5px; */
    /* background-color: rgb(200, 200, 200); */
    overflow-y: scroll;
}

.tasks::-webkit-scrollbar {
    display: none;
}