<!-- <app-header></app-header>


<h1>Hello, {{friendName}}!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error corrupti saepe sunt placeat alias esse fuga veritatis minus numquam repellat enim, odio molestiae voluptates explicabo dolore ipsam at distinctio illo.</p>
<button>Navigate</button>

<input type="text">
<div>{{ friendName.toUpperCase() }}</div>
<div>{{ friendName.slice(0, 4) }}</div>

<input type="number" name="" id="">


<hr>


<app-footer></app-footer> -->
<div class="app">
    <app-header (taskCreated)="handleTaskCreation($event)"></app-header>

    <!-- <app-add-task (addTask)="handleTaskCreation($event)"></app-add-task> -->

    <div class="tasks-container">
        <app-tasks [newTask]="newTask"></app-tasks>
    </div>

    <app-footer></app-footer>

</div>